body {
    /* background: url("https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fwallpapercave.com%2Fwp%2Fwp8030579.jpg&f=1&nofb=1&ipt=444dd52a252766301f15a35cd9e3d6201bca771a033116219ef5bd6b156a0c56"); */
    background-image: url(./sunset.JPG);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: calc(100vh - 20px);
    overflow: hidden;
    -webkit-user-select: none;
    user-select: none;
}

.control-panel {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 25px;
    background: linear-gradient(rgba(0, 0, 0, 0.44));
    -webkit-backdrop-filter: blur(25px);
    backdrop-filter: blur(25px);
}

.left-panel {
    align-items: center;
    display: flex;
    flex-direction: row;
    height: 100%;
}

.right-panel {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.right-panel #time {
    padding: 0;
    margin-right: 15px;
}

.control-panel .left-panel *:hover {
    background-color: linear-gradient(rgba(255, 255, 255, 0.44), rgba(255, 255, 255, 0));
    -webkit-backdrop-filter: blur(25px);
    backdrop-filter: blur(25px);
    cursor: default;
}

.control-panel img {
    width: auto;
    margin-left: 8px;
    padding: 5px 13px;
    border-radius: 4px;
    object-fit: contain;
}

.control-panel p {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    margin: 0;
    padding: 0 10px;
    font-size: 14px;
    border-radius: 4px;
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
}

.app-panel {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 90%;
    left: 0;
    height: 75px;
    width: 100%;
}

.app-dock {
    display: flex;
    height: 75%;
    padding: 2px;
    background: linear-gradient(rgba(0, 0, 0, 0.44));
    -webkit-backdrop-filter: blur(25px);
    backdrop-filter: blur(25px);
    border-radius: 15px;
    border: solid rgb(105, 105, 105) 1px;
    z-index: 2;
}

.app-dock img {
    transition: ease-in-out 200ms;
}

.app-dock img:hover {
    transform: translate(0, -10px);
    transition: ease-in-out 200ms;
}

.separating-bar {
    margin: 5px 10px 0 10px;
    height: 45px;
    width: 2px;
    background-color: rgb(105, 105, 105);
}


/* ------------------Context Menu--------------------------- */

.context-menu {
    position: fixed;
    display: none;
    color: rgb(255, 255, 255);
    border-radius: 10px;
    background: linear-gradient(rgba(0, 0, 0, 0.721));
    z-index: 1000;
    border: 1px rgb(191, 191, 191) solid;
    padding: 5px;
}

.context-menu.show {
    display: block;
}

.context-menu-border.show {
    display: block;
}

.context-menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.context-menu ul li {
    padding: .3rem .4rem;
    cursor: pointer;
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
    font-size: .9rem;
    font-weight: 400;
}

.context-menu ul li:hover {
    background: linear-gradient(hsl(211, 100%, 50%));
    border-radius: 5px;
}

/* ----------------------Apps----------------------------------- */

.app-store-app-window,
.app-window {
    display: flex;
    flex-direction: row;
    position: absolute;
    top: 20%;
    left: 20%;
    height: 500px;
    width: 400px;
    border-radius: 10px;
    border: solid rgb(105, 105, 105) 1px;
    background: linear-gradient(rgba(0, 0, 0, 0.44));
    backdrop-filter: blur(25px);
    -webkit-backdrop-filter: blur(25px);
    z-index: 1;
    -webkit-user-select: none;
    user-select: none;
}


.app-window .close-resize {
    display: flex;
    align-items: flex-end;
    height: 10%;
    width: 100%;
    border-radius: 10px;
}

.app-store-app-window .app-header,
.app-window .app-header {
    color: aliceblue;
}

.app-store-app-window .close-resize .red,
.app-window .close-resize .red {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 0.8rem;
    width: 0.8rem;
    border-radius: 50%;
    margin-left: 17px;
}

.app-store-app-window .close-resize .yellow,
.app-window .close-resize .yellow {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 0.8rem;
    width: 0.8rem;
    border-radius: 50%;
    margin-left: 10px;
}

.app-store-app-window .close-resize .green,
.app-window .close-resize .green {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 0.8rem;
    width: 0.8rem;
    border-radius: 50%;
    margin-left: 10px;
}

.close-resize span {
    margin: auto 0;
    cursor: default;
}

.red p {
    line-height: 0.5;
    font-size: smaller;
    font-family: monospace;
}

.app-header {
    margin: 0;
    margin: auto 10px auto auto;
}